@font-face {
    font-family: 'HKGroteskMedium';
    src: url('../fonts/HKGrotesk-Medium.eot?#iefix');
    src: url('../fonts/HKGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HKGrotesk-Medium.woff2') format('woff2'),
         url('../fonts/HKGrotesk-Medium.woff') format('woff'),
         url('../fonts/HKGrotesk-Medium.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

/* generic and common elements styling */

html {
	min-height: 100%;
}

body {
    font-family: "sharp sans en", "HKGroteskMedium", "HK Grotesk", "Poppins",
                 "Poppins Latin", "Segoe UI", "SF Pro", "Roboto", "Ubuntu",
                 Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #03363d;
	height: 100%;
    padding-bottom: 5rem;
}

h1 {
    font-size: 2.2rem;
    font-weight: 900;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #2F3941;
}

button {
    font-family: inherit;
    font-size: 1em;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

.primary-container {
    width: 40rem;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.primary-shadow {
    box-shadow: 0 8px 24px rgba(0,0,0,.13);
}

.top-bar {
    background-color: #17494d;
    color: #ffffff;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.status-open {
    color: #ff003d;
    border-color: #ff003d;
}

.status-pending {
    color: #007dff;
    border-color: #007dff;
}

.status-solved {
    color: #00af60;
    border-color: #00af60;
}

p.error {
    margin: 1rem auto;
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #ff003d;
    text-align: center;
}

/* header section styling */

header {
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

header span.logos-row {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
}

img.logo-large {
    height: 2.5rem;
    width: auto;
}

img.logo-small {
    height: 0.8rem;
    width: auto;
}

/* main section styling */

main {
    background-color: #f6f4f4;
    color: #2F3941;
    margin-top: 1rem;
    margin-bottom: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

main h2.top-bar {
    padding: 1rem;
}

main ul li {
    padding: 0.8rem 0.5rem;
    border-top: 1px solid #D8DCDE;
    transition: all 200ms ease;
}

main ul li:hover {
    background-color: #d6eef2;
    cursor: pointer;
}

main ul li p.ticket-metadata {
    padding: 0 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
}

p.ticket-metadata span.ticket-id {
    color: #03363d;
}

span.ticket-tags {
    align-self: flex-end;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;
}

span.ticket-tags span.tag {
    border-bottom: 2px solid #2F3941;
}

h3.ticket-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

span.ticket-status {
    padding: 0 0.5em 0 0.5em;
    border: 2px solid;
    border-radius: 1rem;;
    font-size: 1rem;
}

/* navigaion section styling */

nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav button {
    background-color: #17494d;
    color: #ffffff;
    padding: 0.5em 1em;
    transition: all 200ms ease;
}

nav button:hover {
    background-color: #012b30;
}

nav button[name="btn-prev"] {
    align-self: flex-start;
}

nav button[name="btn-next"] {
    align-self: flex-end;
}

/* ticket details modal styling */

section.ticket-details-container {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.25);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease;
}

div.ticket-details {
    position: relative;
    background-color: #f6f4f4;
    width: 35rem;
    max-width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

div.ticket-details h2.top-bar span {
    padding: 1rem;
}

div.ticket-details h2.top-bar button {
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    background-color: #ff003d;
    color: #ffffff;
    transition: all 200ms ease;
}

div.ticket-details h2.top-bar button:hover {
    background-color: #d10939;
}

div.ticket-details h2.top-bar button img {
    height: 1rem;
    width: auto;
}

article.ticket-body {
    color: #2F3941;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

article.ticket-body span.ticket-status {
    align-self: flex-start;
}

article.ticket-body h3.ticket-title {
    margin-left: 0.25rem;
}

div.ticket-creation-info {
    margin: 1.5rem 0 1rem 0;
    min-width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
}

div.ticket-creation-info ul {
    min-width: 10rem;
    width: 45%;
}

div.ticket-creation-info ul li {
    padding-bottom: 0.5rem;
}

article.ticket-body p.ticket-description {
    padding: 1rem;
    background-color: #ffffff;
    max-height: 15rem;
    overflow-y: auto;
}
