<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zendesk Coding Challenge</title>
    <!--[if IE]><link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}"><![endif]-->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/favicon_180.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon_192.png') }}">
    <meta name="theme-color" content="#17494D"/>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/minireset.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Scripts -->
</head>
<body>
    <header class="primary-container">
        <span class="logos-row">
            <img class="logo-large" src="{{ url_for('static', filename='icons/zendesk-logo-z-min.svg') }}" alt="Zendesk">
            <img class="logo-small" src="{{ url_for('static', filename='icons/x.svg') }}" alt="x">
            <img class="logo-large" src="{{ url_for('static', filename='icons/favicon_180.png') }}" alt="Samm Du">
        </span>
        <h1>Zendesk Ticket Viewer</h1>
    </header>
    <main class="primary-container">
        <h2>Current Tickets</h2>
        <ul>
            {% for ticket in tickets %}
            <li>
                <p class="ticket-metadata">
                    <span class="ticket-id">&#35;{{ ticket["id"] }}</span>
                    <span class="ticket-tags">
                        {% for tag in ticket["tags"] %}
                        <span class="tag">{{ tag }}</span>
                        {% endfor %}
                    </span>
                </p>
                <h3 class="ticket-title">
                    <span class="ticket-status status-{{ ticket['status'] }}">{{ ticket["status"] }}</span>
                    {{ ticket["subject"] }}
                </h3>
            </li>
            {% endfor %}
        </ul>
    </main>
    <nav class="primary-container">
        <button type="button" name="btn-prev">Previous</button>
        <button type="button" name="btn-next">Next</button>
    </nav>
</body>
</html>
