<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zendesk Coding Challenge</title>
    <!--[if IE]><link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}"><![endif]-->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/favicon_180.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon_192.png') }}">
    <meta name="theme-color" content="#17494D"/>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/minireset.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body>
    <header class="primary-container">
        <span class="logos-row">
            <img class="logo-large" src="{{ url_for('static', filename='icons/zendesk-logo-z-min.svg') }}" alt="Zendesk">
            <img class="logo-small" src="{{ url_for('static', filename='icons/x.svg') }}" alt="x">
            <a href="https://github.com/sammdu" target="_blank" rel="noreferrer noopener" style="display: inline-flex;">
                <img class="logo-large" src="{{ url_for('static', filename='icons/favicon_180.png') }}" alt="Samm Du">
            </a>
        </span>
        <h1>Zendesk Ticket Viewer</h1>
        <h3>2022 Summer Internship Coding Challenge</h3>
    </header>

    <!-- Get the current, next, and previous batch of tickets -->
    {% set current_list = all_tickets.get_current_batch() %}
    {% set prev_batch = all_tickets.seek_batch('prev') %}
    {% set next_batch = all_tickets.seek_batch('next') %}

    {% if current_list %}

        {% include 'navigation.html' %}

        <main class="primary-container primary-shadow">
            {% include 'tickets.html' %}
        </main>

        {% include 'navigation.html' %}

        <section id="ticketDetailsContainer" class="ticket-details-container">
        </section>

    {% else %}

        <p class="error">
            Uh-oh! Cannot see any tickets at this moment. Please try again!
        </p>

    {% endif %}
</body>
</html>
