<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zendesk Coding Challenge</title>
    <!--[if IE]><link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}"><![endif]-->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/favicon_180.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon_192.png') }}">
    <meta name="theme-color" content="#17494D"/>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/minireset.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Scripts -->
</head>
<body>
    <h1>Hello, world!</h1>
</body>
</html>
